{% if site.data.ng-pkg-vers.angular.vers contains "alpha" or site.data.ng-pkg-vers.angular.vers contains "beta" %}
<div class="banner">
  <p class="banner__text">
    <div class="alert alert-warning">
      <strong>
        WARNING: This is a PREVIEW release of
        <a href="{{site.url}}" class="no-automatic-external" target="_blank" rel="noopener">
          {{site.url | regex_replace: '^https?://'}}
        </a>
        based on
        <a href="/angular/version">Angular {{site.data.ng-pkg-vers.angular.vers}}</a>.
      </strong>
    </div>
  </p>
</div>
{% endif %}
