<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Language" content="en_US" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if page.short-title %}{{ page.short-title }}{% else %}{{ page.title }}{% endif %} | {{ site.title }}</title>
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_html | strip_newlines | truncate: 160 }}{% endif %}">
  
  <!-- Favicon / Touch Icons -->
  <link href="/favicon.ico" rel="shortcut icon">
  <link href="{% asset_path 'touch-icon-iphone.png' %}" rel="apple-touch-icon">
  <link href="{% asset_path 'touch-icon-ipad.png' %}" rel="apple-touch-icon" sizes="76x76">
  <link href="{% asset_path 'touch-icon-iphone-retina.png' %}" rel="apple-touch-icon" sizes="120x120">
  <link href="{% asset_path 'touch-icon-ipad-retina.png' %}" rel="apple-touch-icon" sizes="152x152">

  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@dart_lang" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="{% if page.description | strip_html | strip_newlines | truncate: 160 %}{{ page.description }}{% else if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_html | strip_newlines | truncate: 160 }}{% endif %}" />

  <!-- Open Graph -->
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{% if page.description | strip_html | strip_newlines | truncate: 160 %}{{ page.description }}{% else if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_html | strip_newlines | truncate: 160 }}{% endif %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %}{{ site.url }}{% asset_path 'dart-webdev-logo.png' %}{% endif %}" />

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700' rel='stylesheet' type='text/css'>
  {% stylesheet style %}
  {% for css in page.css %}
    <link href="{{ css.url }}" rel="stylesheet" type="text/css">
  {% endfor %}

  <!--
      Why don't we use Dart here?

      The only scripting we use here is stuff like resizing of the left nav and
      adding the little icon to outgoing links. These happen to be use cases
      where JavaScript and jQuery are doing just fine. Dart is here for
      application programming, not page scripting.
   -->
  {% javascript main %}
  {% javascript 'vendor/document-register-elements' %}

  {% for js in page.js %}
  <script {% if js.defer %}defer{% endif %} src="{{ js.url }}"></script>
  {% endfor %}
  {% include analytics.html %}

  <!-- Extra for angular -->
  {% if page.angular %}
  <!-- Angular.io styles for directives, etc -->
  <link rel="stylesheet" href="/styles/angular.css">

  <!-- VENDORS -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css"/>
  <!-- Probably don't need these under webdev
  <script src="/resources/js/vendor/prettify.js"></script>
  <script src="/resources/js/vendor/lang-basic.js"></script>
  <script src="/resources/js/vendor/lang-dart.js"></script>
  -->
  <script src="/resources/js/vendor/lodash.js"></script>
  <script src="/resources/js/vendor/clipboard.min.js"></script>
  <!-- Angular Material Dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  <!-- Angular.io Site JS -->
  <script src="/resources/js/site.js"></script>
  <script src="/resources/js/util.js"></script>
  <script src="/resources/js/controllers/app-controller.js"></script>
  <!--script src="/resources/js/controllers/resources-controller.js"></script-->
  <script src="/resources/js/directives/cheatsheet.js"></script>
  <script src="/resources/js/directives/api-list.js"></script>
  <!--script src="/resources/js/directives/bio.js"></script>
  <script src="/resources/js/directives/bold.js"></script>
  <script src="/resources/js/directives/announcement-bar.js"></script>
  <script src="/resources/js/directives/code.js"></script-->
  <script src="/resources/js/directives/copy.js"></script>
  <script src="/resources/js/directives/code-tabs.js"></script>
  <script src="/resources/js/directives/code-pane.js"></script>
  <script src="/resources/js/directives/code-example.js"></script>
  <script src="/resources/js/directives/if-docs.js"></script>
  <script src="/resources/js/directives/live-example.js"></script>
  <script src="/resources/js/directives/ngio-ex-path.js"></script>
  <script src="/resources/js/directives/scroll-y-offset-element.js"></script>

  <!-- TODO: remove verbose() once angular quickstart is updated to remove the show/hide explanation buttons -->
  <style>
    /* From ng.io _layout.scss */
    button.verbose {
        font-size: 24px
    }
    @media handheld and (max-width: 480px),
    screen and (max-device-width: 480px),
    screen and (max-width: 800px) {
        button.verbose {
            font-size: 16px
        }
    }
    button.verbose.on {
        display: none
    }
    .l-verbose-section {
        margin: 0 0 32px 0;
        padding-left: 16px;
        border-left: 1.33333px solid #B0BEC5;
        border-radius: 1.33333px
    }
    .l-verbose-inherit {
        margin: 0;
        padding: 0;
        border-left: 0;
        border-radius: 0
    }
  </style>
  <script>
    // Open (and close) an explanation <div>. See QuickStart
    function why(id, backTo) {
      var id = "#"+id;
      var el = document.querySelector(id);
      el.hidden=el.hidden=!el.hidden;

      if (el.hidden && backTo){
        // the next line is required to work around a bug in WebKit (Chrome / Safari)
        location.href = "#";
        location.href =  "#" + backTo;
      }
    }

    function verbose(isVerbose) {
      isVerbose = !! isVerbose;
      var el = document.querySelector('button.verbose.off');
      el.style.display = isVerbose ? 'block' : 'none';
      var el = document.querySelector('button.verbose.on');
      el.style.display = isVerbose ? 'none' : 'block';

      CCSStylesheetRuleStyle('main','.l-verbose-section', 'display',
        isVerbose ? 'block' : 'none');
    }

    function CCSStylesheetRuleStyle(stylesheet, selectorText, style, value){
      /* returns the value of the element style of the rule in the stylesheet
      *  If no value is given, reads the value
      *  If value is given, the value is changed and returned
      *  If '' (empty string) is given, erases the value.
      *  The browser will apply the default one
      *
      * string stylesheet: part of the .css name to be recognized, e.g. 'default'
      * string selectorText: css selector, e.g. '#myId', '.myClass', 'thead td'
      * string style: camelCase element style, e.g. 'fontSize'
      * string value optional : the new value
      */
      var CCSstyle = undefined, rules, sheet;
      for(var m in document.styleSheets){
        sheet = document.styleSheets[m];
        if(sheet.href && sheet.href.indexOf(stylesheet) != -1){
        rules = sheet[document.all ? 'rules' : 'cssRules'];
        for(var n in rules){
          console.log(rules[n].selectorText);
          if(rules[n].selectorText == selectorText){
            CCSstyle = rules[n].style;
            break;
          }
        }
        break;
        }
      }
      if(value == undefined)
        return CCSstyle[style]
      else
        return CCSstyle[style] = value
    }
  </script>
  {% endif %}
</head>
