<nav id="mainnav">
  <div id="menu-toggle"><i class="icon icon-menu"></i></div>
  <a href="/" class="brand" title="{{ site.title }}">
    <img src="{% asset_path 'logo.svg' %}" alt="{{ site.title }}">
  </a>
  <ul>
    <li><a href="/guides/get-started">Get Started</a></li>
    <li><a href="/guides/web-programming">Libraries</a></li>
    <li><a href="/tools">Tools</a></li>
    <li class="searchfield">
      <form class="navbar-search" action="/search.html" id="cse-search-box">
        <input type="hidden" name="cx" value="011220921317074318178:i4mscbaxtru">
        <input type="hidden" name="ie" value="UTF-8">
        <input type="hidden" name="hl" value="en">
        <input type="search" name="q" id="q" autocomplete="off" placeholder="Search">
        <button type="submit"><i class="icon icon-search"></i></button>
      </form>
    </li>
  </ul>
</nav>
