<nav id="mainnav" scroll-y-offset-element>
  <div id="menu-toggle"><i class="icon icon-menu"></i></div>
  <a href="/" class="brand" title="{{ site.title }}">
    <img src="{% asset shared/dart/logo+text/horizontal/default.svg @path %}" alt="{{ site.title }}">
    for the web
  </a>
  <ul>
    <li><a href="/guides/get-started">Get Started</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Web libraries <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/guides/web-programming">Overview</a></li>
        {% if site.url == site.webdev -%}
          {% if site.prev-url and site.data.pkg-vers.angular.prev-vers -%}
            <li><a href="{{site.prev-url}}{{page.url}}" class="no-automatic-external">AngularDart {{site.data.pkg-vers.angular.prev-vers}}&nbsp;&nbsp;(archive)</a></li>
          {%- endif %}
          <li><a href="/angular" class="active">AngularDart {{site.data.pkg-vers.angular.vers}}&nbsp;&nbsp;(current)</a></li>
          {% if site.dev-url and site.data.pkg-vers.angular.next-vers -%}
            <li><a href="{{site.dev-url}}{{page.url}}" class="no-automatic-external">AngularDart {{site.data.pkg-vers.angular.next-vers}}&nbsp;&nbsp;(preview)</a></li>
          {%- endif -%}
        {% else -%}
          {% if site.prev-url and site.data.pkg-vers.angular.prev-vers -%}
            <li><a href="{{site.prev-url}}{{page.url}}" class="no-automatic-external">AngularDart {{site.data.pkg-vers.angular.prev-vers}}&nbsp;&nbsp;(stable)</a></li>
          {%- endif -%}
          <li><a href="/angular" class="active">AngularDart {{site.data.pkg-vers.angular.vers}}&nbsp;&nbsp;(preview)</a></li>
        {%- endif %}
        <li role="separator" class="divider"></li>
        <li><a href="/version">Package versions</a></li>
      </ul>
    </li>
    <li><a href="/tools">Tools</a></li>
    <li class="searchfield">
      <form class="navbar-search" action="/search" id="cse-search-box">
        <input type="hidden" name="cx" value="011220921317074318178:ta2gkewbtuu">
        <input type="hidden" name="ie" value="UTF-8">
        <input type="hidden" name="hl" value="en">
        <input type="search" name="q" id="q" autocomplete="off" placeholder="Search">
        <button type="submit"><i class="icon icon-search"></i></button>
      </form>
    </li>
  </ul>
</nav>
