<footer id="page-footer">
  <div class="container">
    <div class="content">
      <div class="row">
        <div class="col-md-3">
          <h4>Technologies</h4>
          <ul>
            <li><a href="{{site.dartlang}}">Dart</a></li>
            <li><a href="https://angular.io/docs/dart/latest/">Angular Dart</a></li>
            <li><a href="https://github.com/dart-lang/polymer-dart/wiki#10-developer-guide">Polymer Dart</a></li>
          </ul>
        </div>

        <div class="col-md-3">
          <h4>Resources</h4>
          <ul>
            <li><a href="https://dartpad.dartlang.org/">DartPad</a></li>
            <li><a href="/codelabs/">Code labs</a></li>
            <li><a href="{{site.dart_api}}">API reference</a></li>
          </ul>
        </div>

        <div class="col-md-3">
          <h4>Community</h4>
          <ul>
            <li><a href="{{site.dartlang}}/community/">Mailing lists</a></li>
            <li><a href="http://stackoverflow.com/questions/tagged/dart">Stack Overflow</a></li>
            <li><a href="https://dartlang.slack.com/">Slack</a> (<a href="https://dartlang-slack.herokuapp.com/">register</a>)</li>
          </ul>
        </div>

        <div class="col-md-3">
          <h4>Problems with this site?</h4>
          <ul>
            <li><a href="https://github.com/dart-lang/www.dartlang.org/issues">File a bug</a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h4><a href="/terms">Terms</a> | <a href="http://www.google.com/intl/en/policies/privacy/">Privacy</a></h4>
            <p><small>Except as otherwise noted, the content of this page is licensed under the Creative Commons Attribution 3.0 License, and code samples are licensed under the BSD License.</small></p>
        </div>
      </div>
    </div>
  </div>
</footer>
