<footer id="page-footer">
  <div class="container">
    <div class="content">
      <div class="text-center" martdown="1">
        <style>.menu .material-icons { font-size: 14px; }</style>
        <ul class="menu">
          <li><a href="/terms">Terms</a></li>
          <li><a href="http://www.google.com/intl/en/policies/privacy/" class="no-automatic-external">Privacy</a></li>
          <li>Site&nbsp;<a href="http://creativecommons.org/licenses/by/3.0/" class="no-automatic-external">CC&nbsp;BY&nbsp;3.0</a></li>
          <li>
            <a href="{{site.repo}}" class="no-automatic-external"><i class="fa fa-github"></i></a>
            &nbsp;
            <a href="{{site.repo}}/issues" class="no-automatic-external"><i class="fa fa-bug"></i></a>
            &nbsp;
            <a href="{{site.repo | regex_replace: 'github.com','travis-ci.org'}}/jobs/{{site.data.ci.job-id}}"
               title="Site build {{site.data.ci.build-number}}, {{site.data.ci.build-time}}"
               class="no-automatic-external"><i class="material-icons">build</i></a>
          </li>
        </ul>

        <ul class="version">
          <li>
            <a href="/angular/version">
              angular {{site.data.ng-pkg-vers.angular.vers}}
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</footer>
