---
layout: angular
title: "Browser support"
description: "Browser support and polyfills guide."
angular: true
sideNavGroup: "advanced"
---
//- FilePath: src/angular/guide/browser-support.jade
include /_jade/_ts-temp
