---
layout: angular
title: "Glossary"
description: "Brief definitions of the most important words in the Angular vocabulary"
angular: true
---
//- FilePath: src/angular/guide/glossary.jade
extends ../glossary

block includes
  - var _example = 'glossary';
  include ../_util-fns
