---
layout: angular
title: "Hierarchical Dependency Injectors"
description: "Angular's hierarchical dependency injection system supports nested injectors in parallel with the component tree."
angular: true
---
extends _jade/ts/_cache/guide/hierarchical-dependency-injection.jade

block includes
  - var _example = 'hierarchical-dependency-injection';
  include _util-fns
