---
layout: angular
title: "Documentation Overview"
description: "How to read and use this documentation"
angular: true
sideNavGroup: "basic"
---
//- FilePath: src/angular/guide/index.jade
extends /_jade/ts/_cache/guide/index.jade

block includes
  include ../_util-fns
  - var _angular_io = 'website';
