---
layout: angular
title: "Learning Angular"
description: "A suggested path through the documentation for Angular newcomers"
angular: true
sideNavGroup: "basic"
---
//- FilePath: src/angular/guide/learning-angular.jade
extends /_jade/ts/_cache/guide/learning-angular.jade

block includes
  - var _example = 'learning-angular';
  include ../_util-fns
