---
layout: angular
title: "Security"
description: "Developing for content security in Angular applications"
angular: true
sideNavGroup: "advanced"
---
//- FilePath: src/angular/guide/security.jade
include /_jade/_ts-temp