---
layout: angular
title: Testing
description: Techniques and practices for testing an Angular app.
sideNavGroup: advanced
prevpage:
  title: Structural Directives
  url: /angular/guide/structural-directives
nextpage:
  title: Glossary
  url: /angular/glossary
---
//- FilePath: src/angular/guide/testing.jade
include ../_util-fns

:marked
  This page is under construction
  ([issue #195](https://github.com/dart-lang/site-webdev/issues/195)).
  For a basic introduction to the testing of Angular apps, see the section on
  [Starter app testing](/angular/tutorial/toh-pt0#testing) in the
  [Tutorial](/angular/tutorial).
