---
layout: angular
title: "Quickstart"
description: "Get up and running with Angular"
angular: true
toc: false
---
//- FilePath: src/angular/quickstart.jade
extends /_jade/ts/_cache/quickstart.jade

block includes
  - var _example = 'quickstart';
  include _util-fns
  - var _on_Plunkr = '';
