---
layout: angular
title: Quickstart
description: A quick look at Angular basics
toc: false
---
//- FilePath: src/angular/quickstart.jade
extends /_jade/ts/_cache/quickstart.jade

block includes
  - var _example = 'quickstart';
  include _util-fns

block qs-src-online-and-local
  .l-sub-section
    :marked
      Try the **<live-example>QuickStart live example</live-example>**, or
      try it locally after [setting up for local development](guide/setup.html).
