---
layout: angular
title: "Writers' Playground"
permalink: /playground/jade-test
---
//- FilePath: src/playground/jade-test.jade

:marked
  Title and code not tied to a file:
  <?code-excerpt title="some title!"?>
  ```dart
  var y = 0; // title="some title!"
  ```

  Quickstart pubspec w/ title:
  <?code-excerpt "quickstart/lib/app_component.dart" title?>
  ```
  import 'package:angular2/angular2.dart';

  [!@Component(
    selector: 'my-app',
    template: '<h1>Hello {{name}}</h1>')!]
  class AppComponent {
    var [!name!] = 'Angular';
  }
  ```

  <?code-excerpt path-base="quickstart"?>

  Quickstart pubspec w/ title:
  <?code-excerpt "pubspec.yaml" title?>
  ```
  ...
  ```

  `index.html` my-app excerpt (no title)
  <?code-excerpt "web/index.html (my-app)"?>
  ```
  <my-app>Loading...</my-app>
  ```

  ## Converted (manually)

  Jade-specific translation:

.code-example
  header: h4 _lib/x.dart_
  code-example(language="dart").
    var xx = '&lt;b&gt;x&lt;/b&gt;';
    <span class="highlight">var z = 'x' **abc**;
    var y = 3;</span>

:marked
  These translation come close, but still don't work:

  <div class="code-example">
  <header><h4>_lib/x.dart_</h4></header>
  <code-example language="dart">  var x = '&lt;b&gt;x&lt;/b&gt;';
  <span class="highlight">  var z = 'x' **this is bold markdown text**;
    var y = 3;</span>
  </code-example>
  </div>

  <div class="code-example">
  <header><h4>_strangely/title/in/italics.dart_</h4></header>
  <code-example language="dart">
  ``` var xx = '&lt;b&gt;x&lt;/b&gt;';
  <span class="highlight">  var z = 'x' **abc**;
  var y = 3;</span>
  ```
  </code-example>
  </div>

  <div class="code-example">
  <header><h4>_lib/x.dart_</h4></header>
  <code-example language="dart">
      var x = '&lt;b&gt;x&lt;/b&gt;';
      <span class="highlight">  var z = 'x' **abc**;
      var y = 3;</span>
  </code-example>
  </div>
