---
layout: angular
title: Router Lifecycle Hooks
sideNavGroup: advanced
prevpage:
  title: Child & Relative Routes
  url: /angular/guide/router/4
nextpage:
  title: Asynchronous Routing
  url: /angular/guide/router/6
---
//- FilePath: src/angular/guide/router/crisis-center-5.jade
include ../../_util-fns
- var _example = 'router';
include _milestone-nav
script $('#router-milestone').val('5')

:marked
  At the moment, *any* user can navigate *anywhere* in the application *anytime*.
  That's not always the right thing to do.

  * Perhaps the user is not authorized to navigate to the target component.
  * Maybe the user must login (*authenticate*) first.
  * Maybe you should fetch some data before you display the target component.
  * You might want to save pending changes before leaving a component.
  * You might ask the user if it's OK to discard pending changes rather than save them.

  You can provide _router lifecycle hooks_ to handle these scenarios.

  A router lifecycle hook is a boolean synchronous or asynchronous function;
  the returned boolean value affects the router's navigation behavior:

  * _true_: navigation proceeds
  * _false_: the router cancels navigation and stays on the current view

  Lifecycle hooks can also instruct the router to navigate to a *different* component.
//- TODO: add example to illustrate navigation to a different component.

.l-sub-section
  :marked
    The router lifecycle hooks _supplement_, and are distinct from, 
    [component lifecycle hooks](../lifecycle-hooks.html).

//- TODO :marked
  [**TODO** summarize hooks]

a#CanDeactivate
:marked
  ## Handling unsaved changes

  Back in the "Heroes" workflow, the app accepts every change to a hero immediately without hesitation or validation.

  In the real world, you might have to accumulate a user's changes so that the app can, for example:

  - Validate across fields
  - Validate on the server
  - Hold changes in a pending state until the user confirms them *as a group* or
    cancels and reverts all changes

  What should be done with unvalidated and unsaved changes when the user navigates away?
  You can't just leave and risk losing the user's changes &mdash; that would be a terrible user experience.

  Let the user decide what to do.
  If the user cancels, the app can stay put and allow more changes.
  If the user approves, the app can save.

  The app might still delay navigation until the save succeeds.
  If you let the user move to the next screen immediately and
  the save failed (perhaps the data are ruled invalid), you would have lost the context of the error.

  The app can't block while waiting for the server &mdash; that's not possible in a browser.
  The app needs to stop the navigation while waiting, asynchronously, for the server
  to return with its answer.

  For this, you need the [CanDeactivate](/angular/api/angular2.router/CanDeactivate-class) hook.

  ## Save and cancel, without handling unsaved changes

  The sample application doesn't talk to a server.
  Fortunately, you have another way to demonstrate an asynchronous router hook.

  Before defining a hook, you'll need to make the following edits to the crisis details component
  so that user changes to the crisis name are temporary until saved
  (in contrast, `HeroDetailComponent` name changes will remain immediate).

  Update `CrisisDetailComponent`:

  - Add a string class field called `name` to hold the crisis name while it is being edited.

//- We use HTML rather than markdown below so that we can indent the code excerpts.
ul
  li
    :marked
      Update the `ngOnInit` method so that `name` is initialized to the selected crisis name.
    +makeExcerpt('app/crisis_center/crisis-detail.component.ts (ngOnInit)')
ul
  li
    :marked
      Add a `save` method which assigns `name` to the selected crisis before navigating back
      to the crisis list.
    +makeExcerpt('app/crisis_center/crisis-detail.component.ts (save)')

:marked
  As illustrated next, update the crisis details component template by

  - Renaming the _Back_ button to _Cancel_.
  - Adding a _Save_ button with a click event binding to the `save` method.
  - Changing the `ngModel` expression from `crisis.name` to `name`.

+makeExcerpt('app/crisis_center/crisis-detail.component.html (excerpt)', 'save-and-cancel')

:marked
  **Refresh the browser** and try out the new crisis details save and cancel features.

  <a id="candeactivate"></a>
  ## *CanDeactivate* to handle unsaved changes

  What if the user tries to navigate away without saving or canceling?
  The user could push the browser back button or click the heroes link.
  Both actions trigger a navigation.
  Should the app save or cancel automatically?

  It currently does neither. Instead you'll want to ask the user to make that choice explicitly
  in a confirmation dialog box that *waits asynchronously for the user's
  answer*.

.l-sub-section
  :marked
    You could wait for the user's answer with synchronous, blocking code.
    The app will be more responsive, and can do other work,
    by waiting for the user's answer asynchronously. Waiting for the user asynchronously
    is like waiting for the server asynchronously.

:marked
  To implement this functionality you'll need a dialog service;
  the following simple implementation will do.

+makeExample('app/crisis_center/dialog_service.dart')

:marked
  Add `DialogService` to the `CrisisCenterComponent` providers list so that the service
  is available to all components in the crisis center component subtree.

  Next, to implement a router *CanDeactivate* lifecycle hook in `CrisisDetailComponent`:

  - Add the router `CanDeactivate` interface to the class's list of implemented interfaces.
  - Add a private field and constructor argument to hold an injected
    instance of a `DialogService` &mdash; remember to import it.
  - Add the following `routerCanDeactivate` lifecycle hook method:

+makeExcerpt('app/crisis_center/crisis_detail_component.dart (routerCanDeactivate)')

:marked
  Notice that the `routerCanDeactivate` method *can* return synchronously;
  it returns `true` immediately if there is no crisis or there are no pending changes.
  But it can also return a `Future<bool>` and the router will await its result.

  **Two critical points**

  - The router hook is optional: a component class can implement the appropriate
    hook interface or not.
  - The router calls the hook method so you don't need to worry about
    the different ways that the user can navigate away. That's the router's job.
    You simply write this method and let the router take it from there.

//- TODO: add section on CanActivate

//- a#can-activate-guard
//- :marked
  ## *CanActivate*: requiring authentication

  Applications often restrict access to a feature area based on who the user is.
  You could permit access only to authenticated users or to users with a specific role.
  You might block or limit access until the user's account is activated.

  The `CanActivate` guard is the tool to manage these navigation business rules.

  [**TBC**].

//-----------------------------------------------------------------------------
//- Skipping this for now:
//- This is from the new TS router page
  a#query-parameters
  a#fragment
  :marked
    ## Query Parameters and Fragments

    In the [route parameters](#optional-route-parameters) example, you only dealt with parameters specific to
    the route, but what if you wanted optional parameters available to all routes? 
    This is where query parameters come into play.

    [Fragments](https://en.wikipedia.org/wiki/Fragment_identifier) refer to certain elements on the page
    identified with an `id` attribute.

    Update the `AuthGuard` to provide a `session_id` query that will remain after navigating to another route.

    Add an `anchor` element so you can jump to a certain point on the page.

    Add the `NavigationExtras` object to the `router.navigate` method that navigates you to the `/login` route.

  +makeExcerpt('app/auth-guard.service.4.ts (v3)', '')

//-----------------------------------------------------------------------------
//- Material from the old router-deprecated page
  :marked
    ## Milestone #4: Query Parameters

    We use [*route parameters*](#route-parameters) to specify a *required* parameterized value *within* the route URL
    as we do when navigating to the `HeroDetailComponent` in order to view-and-edit the hero with *id:15*.
  code-example(format="." language="bash").
    localhost:3000/hero/15
  :marked
    Sometimes we wish to add *optional* information to a route request.
    For example, the `HeroListComponent` doesn't need help to display a list of heroes.
    But it might be nice if the previously-viewed hero were pre-selected when returning from the `HeroDetailComponent`.
  figure.image-display
    img(src='/resources/images/devguide/router/selected-hero.png' alt="Selected hero")
  :marked
    That becomes possible if we can include hero Magneta's `id` in the URL when we
    return from the `HeroDetailComponent`, a scenario we'll pursue in a moment.

    Optional information takes other forms. Search criteria are often loosely structured, e.g., `name='wind*'`.
    Multiple values are common &mdash; `after='12/31/2015' & before='1/1/2017'` &mdash; in no particular order &mdash;
    `before='1/1/2017' & after='12/31/2015'` &mdash; in a variety of formats &mdash; `during='currentYear'` .

    These kinds of parameters don't fit easily in a URL *path*. Even if we could define a suitable URL token scheme,
    doing so greatly complicates the pattern matching required to translate an incoming URL to a named route.

    The **URL query string** is the ideal vehicle for conveying arbitrarily complex information during navigation.
    The query string isn't involved in pattern matching and affords enormous flexiblity of expression.
    Almost anything serializable can appear in a query string.

    The Component Router supports navigation with query strings as well as route parameters.
    We define query string parameters in the *route parameters object* just like we do with route parameters.

    <a id="route-or-query-parameter"></a>
    ### Route Parameters or Query Parameters?

    There is no hard-and-fast rule. In general,

    *prefer a route parameter when*
    * the value is required.
    * the value is necessary to distinguish one route path from another.

    *prefer a query parameter when*
    * the value is optional.
    * the value is complex and/or multi-variate.

    <a id="route-parameters-object"></a>
    ### Route parameters object

    When navigating to the `HeroDetailComponent` we specified the `id` of the hero-to-edit in the
    *route parameters object* and made it the second item of the [*link parameters array*](#link-parameters-list).

  +makeExcerpt('app/heroes/hero-list.component.1.ts', 'link-parameters-list', '')

  :marked
    The router embedded the `id` value in the navigation URL because we had defined it
    as a route parameter with an  `:id` placeholder token in the route `path`:

  +makeExcerpt('app/app.component.2.ts', 'hero-detail-route', '')

  :marked
    When the user clicks the back button, the `HeroDetailComponent` constructs another *link parameters array*
    which it uses to navigate back to the `HeroListComponent`.

  +makeExcerpt('app/heroes/hero-detail.component.1.ts', 'gotoHeroes', '')

  :marked
    This array lacks a route parameter because we had no reason to send information to the `HeroListComponent`.

    Now we have a reason. We'd like to send the id of the current hero with the navigation request so that the
    `HeroListComponent` can highlight that hero in its list.

    We do that with a route parameters object in the same manner as before.
    We also defined a junk parameter (`foo`) that the `HeroListComponent` should ignore.
    Here's the revised navigation statement:

  +makeExcerpt('app/heroes/hero-detail.component.ts', 'gotoHeroes-navigate', '')

  :marked
    The application still works. Clicking "back" returns to the hero list view.

    Look at the browser address bar.
  .l-sub-section
    img(src='/resources/images/devguide/plunker-separate-window-button.png' alt="pop out the window" align="right" style="margin-right:-20px")
    :marked
      When running in plunker, pop out the preview window by clicking the blue 'X' button in the upper right corner.
  :marked
  It should look something like this, depending on where you run it:

  code-example(language="bash").
    localhost:3000/heroes?id=15&foo=foo

  :marked
    The `id` value appears in the query string (`?id=15&foo=foo`), not in the URL path.
    The path for the "Heroes" route doesn't have an `:id` token.

  .alert.is-helpful
    :marked
      The router replaces route path tokens with corresponding values from the route parameters object.
      **Every parameter _not_ consumed by a route path goes in the query string.**

  :marked
    ### Query parameters in the *RouteParams* service

    The list of heroes is unchanged. No hero row is highlighted.

  .l-sub-section
    :marked
      The <live-example></live-example> *does* highlight the selected
      row because it demonstrates the final state of the application which includes the steps we're *about* to cover.
      At the moment we're describing the state of affairs *prior* to those steps.
  :marked
    The `HeroListComponent` isn't expecting any parameters at all and wouldn't know what to do with them.
    Let's change that.

    When navigating from the `HeroListComponent` to the `HeroDetailComponent`
    the router picked up the route parameter object and made it available to the `HeroDetailComponent`
    in the `RouteParams` service. We injected that service in the constructor of the `HeroDetailComponent`.

    This time we'll be navigating in the opposite direction, from the `HeroDetailComponent` to the `HeroListComponent`.

    First we extend the router import statement to include the `RouteParams` service symbol;

  +makeExcerpt('app/heroes/hero-list.component.ts (import)', 'import-route-params')

  :marked
    Then we extend the constructor to inject the `RouteParams` service and extract the `id` parameter as the `selectedId`:

  +makeExcerpt('app/heroes/hero-list.component.ts (constructor)', 'ctor')

  .l-sub-section
    :marked
      All route parameters are strings.
      The (+) in front of the `routeParameters.get` expression is a JavaScript trick to convert the string to an integer.
  :marked
    We add an `isSelected` method that returns true when a hero's id matches the selected id.

  +makeExcerpt('app/heroes/hero-list.component.ts', 'isSelected')

  :marked
    Finally, we update our template with a [Class Binding](template-syntax.html#class-binding) to that `isSelected` method.
    The binding adds the `selected` CSS class when the method returns `true` and removes it when `false`.
    Look for it within the repeated `<li>` tag as shown here:

  +makeExcerpt('app/heroes/hero-list.component.ts', 'template')

  :marked
    When the user navigates from the heroes list to the "Magneta" hero and back, "Magneta" appears selected:
  figure.image-display
    img(src='/resources/images/devguide/router/selected-hero.png' alt="Selected List" )
  :marked
    The `foo` query string parameter is harmless and continues to be ignored.

    ### Child Routers and Query Parameters

    We can define query parameters for child routers too.

    The technique is precisely the same.
    In fact, we made exactly the same changes to the *Crisis Center* feature.
    Confirm the similarities in these *Hero* and *CrisisCenter* components,
    arranged side-by-side for easy comparison:

  +makeTabs(
      `router-deprecated/ts/app/heroes/hero-list.component.ts,
      router-deprecated/ts/app/crisis_center/crisis-list.component.ts,
      router-deprecated/ts/app/heroes/hero-detail.component.ts,
      router-deprecated/ts/app/crisis_center/crisis-detail.component.ts
      `,
      null,
      `hero-list.component.ts,
      crisis-list.component.ts,
      hero-detail.component.ts,
      crisis-detail.component.ts
      `)
  :marked
    When we navigate back from a `CrisisDetailComponent` that is showing the *Asteroid* crisis,
    we see that crisis properly selected in the list like this:

  figure.image-display
    img(src='/resources/images/devguide/router/selected-crisis.png' alt="Selected crisis" )

  :marked
    **Look at the browser address bar again**. It's *different*. It looks something like this:

  code-example(language="bash").
    localhost:3000/crisis-center/;id=3;foo=foo

  :marked
    The query string parameters are no longer separated by "?" and "&".
    They are **separated by semicolons (;)**
    This is *matrix URL* notation &mdash; something we may not have seen before.

  //- Chalin: note that this is placed earlier in the new router guide.
  .l-sub-section
    :marked
      *Matrix URL* notation is an idea first floated
      in a [1996 proposal](http://www.w3.org/DesignIssues/MatrixURIs.html) by the founder of the web, Tim Berners-Lee.

      Although matrix notation never made it into the HTML standard, it is legal and
      it became popular among browser routing systems as a way to isolate parameters
      belonging to parent and child routes. The Angular Component Router is such a system.

      The syntax may seem strange to us but users are unlikely to notice or care
      as long as the URL can be emailed and pasted into a browser address bar
      as this one can.

a#wrap-up
:marked
  ## Application code

  After these changes, the folder structure looks like this:

.filetree
  .file router_example
  .children
    .file lib
    .children
      .file crisis_center
      .children
        .file crises_component.{css,dart,html}
        .file crisis.dart
        .file crisis_center_component.dart
        .file crisis_detail_component.{css,dart,html}
        .file crisis_service.dart
        .file dialog_service.dart (new)
        .file mock_crises.dart
      .file heroes
      .children
        .file hero.dart
        .file hero_detail_component.{css,dart,html}
        .file hero_service.dart
        .file heroes_component.{css,dart,html}
        .file mock_heroes.dart
      .file app_component.dart
    .file web
    .children
      .file index.html
      .file main.dart
      .file styles.css

:marked
  Here are key files for this version of the sample application:

+makeTabs(
  `router/dart/lib/crisis_center/crisis_center_component.dart,
  router/dart/lib/crisis_center/crisis_detail_component.dart,
  router/dart/lib/crisis_center/crisis_detail_component.html,
  router/dart/lib/crisis_center/dialog_service.dart`,
  '',
  `lib/crisis_center/crisis_center_component.dart,
  lib/crisis_center/crisis_detail_component.dart,
  lib/crisis_center/crisis_detail_component.html,
  lib/crisis_center/dialog_service.dart`)
