p <strong>Milestone </strong>
  select#router-milestone
    option(value="1") 1: Routing basics
    option(value="2") 2: Default, redirect and wildcard routes
    option(value="3") 3: Heroes feature
    option(value="4") 4: Crisis center feature
    option(value="5") 5: Router lifecycle hooks
    option(value="6") 6: Asynchronous routing
    option(value="appendices") Appendices
script.
  $('#router-milestone').change(function() {
    var href = $(this).val();
    $(location).attr('href', href);
  });
