a#keep-app-running
:marked
  ### Keep the app compiling and running

  Open a terminal/console window.
  Start the Dart compiler, watch for changes, and start the server by entering the command:

code-example(language="sh" class="code-shell").
  pub serve

:marked
  You can keep building the Tour of Heroes without pausing to recompile.
