---
og_image: /assets/angulardart.png
---
<!DOCTYPE html>
<html ng-app="angularIOApp">
  {% include head.html %}
  <body ng-controller="AppCtrl as appCtrl" class="{{ page.layout }}{% if page.toc == false %} hide_toc{% endif %}{% if page.obsolete == true %} obsolete{% endif %}">
    {% include page-header.html %}
    <main id="page-content">
      {% include navigation-side.html %}
      {% include navigation-toc.html %}
      <article>
        <div class="content">
          {% include banner.html %}
          {% include navigation-sub.html %}
          {% include breadcrumbs.html %}
          <div class="ng-page-title">
              <a href="/angular"><img src="{% asset shared/angular/icon/default.svg @path %}" width="40px"></a>
              {% include page-github-links.html %}
              <h1>
                  {% assign title = page.long-title | default: page.title |
                                    append: ' ' | append: page.status %}
                  {{ title }}
                  <a href="/version">{{site.data.pkg-vers.angular.vers |
                  regex_replace: '\.[^\.]+$'}}</a>
              </h1>
          </div>
          <hr>
          {% if page.status %}
          <div class="alert alert-info">
            If you notice any issues with this page, please
            <a href="{{site.repo.this}}/issues/new?title=Feedback+on+page%3A+{{title | cgi_escape}}&body=URL%3A+{{site.url | append: page.url | cgi_escape}}%0A%0A">report them.</a>
          </div>
          {% endif %}
          {{ content | inject_anchors }}
          {% include navigation-sub.html %}
        </div>
      </article>
    </main>
    {% include page-footer.html %}
  </body>
</html>
