/* -----------------------------------------
  Dart Lang
  ----------------------------------------- */

@import '../_assets/stylesheets/_variables';

/* -----------------------------------------
  Angular
  ----------------------------------------- */

@import '../resources/css/_options';

@import '../resources/css/base/_colors';
@import '../resources/css/base/_mixins';
@import '../resources/css/base/_reset';

@import '../resources/css/layout/_layout';
@import '../resources/css/module/_alert';
@import '../resources/css/module/_api';
@import '../resources/css/module/_banner';
@import '../resources/css/module/_buttons';
@import './_callout';
@import './_code';
@import './_code-box';
@import '../resources/css/module/_code-shell';
@import '../resources/css/module/_filetree';
@import '../resources/css/module/_form';
@import '../resources/css/module/_symbol';
@import '../resources/css/module/_table';

// BOOTSTRAP OVERRIDES
blockquote {
  font-size: 1em;
}

.l-content-small {
  padding: 0;
}

// ANGULAR.IO CSS COLLISIONS WITH WEBDEV
.banner {
  border-bottom: 0;
  padding: 5px 0;
  margin-bottom: 40px;
  min-height: 0;
}

// Give Angular pages a unique look-and-feel

article h1 {
  background: url("/resources/images/logos/angular2/angular.svg") no-repeat;
  padding-left: 1.2em;
}

#mainnav {
  background: #b00000;
}