/*
 * Use multiple item-with-pic divs to create a list with pictures.
 * Useful for lists of books, codelabs (/codelabs), ... 
 * Based on site-www's _books.scss file.
 */
.item-with-pic {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  margin-top: 20px;
  img {
    margin: 0;
    max-width: none;
  }
  .details {
    margin-left: 20px;
    .title {
      margin: 0;
    }
    .credits {
      margin: 0;
      margin-bottom: 5px;
    }
  }
}                                                                    
