// Make all css changes here. These change will get added into the current SCSS structure where applicable.

$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;

/* Add space between definitions. */
dd {
  margin-bottom: 15px;
}

/* Make code font more noticeable (without being obnoxious). */
code {
  color: #008f83
}

/* Make code-font links look like links. Should also change the hover color. */
a code {
  color: $brand-primary
}

#page-header {
  background-color: $gray-base;
}

#mainnav {
  color: $white-base;
  ul {
    li {
      a {
        color: $white-base;
      }
    }
  }
  .brand {
    width: 250px;
    line-height: 40px;
  }
}
#sidenav {
  .brand {
    img {
      width: 250px;
    }
  }
}

body.homepage {
  pre {
    &.prettyprint {
      height: auto;
    }
  }
  .btn {
    border: none;
    border-radius: 4px;
    margin: 20px 0;
    &.btn-primary:visited {
      color: white;
    }
  }

  .no-padding {
    .headline .content {
      padding-top: 0;
    }
  }

  .huge-number {
    text-align: center;
    margin-top: -20px;

    .huge-number__number {
      color: $brand-primary;
      font-size: 35px;
      letter-spacing: -3px;
      font-weight: 700;
    }
  }
}

// SIDE NAV

.sidenav__search {
  margin-bottom: 20px;
  display: none;

  @media(max-width: 479px) {
    display: block;
  }
}


/* Get started section in the bottom */
body.homepage .get-started-section {
  padding-top: 0;
  padding-bottom: 60px;
}

.button-container {
  text-align: center;
  margin-bottom: 15px;

  .btn {
    background: $brand-primary;
    color: white;
    margin: 10px 10px 0 0;
  }
}

/* Centered image style */
img.centered {
    margin-left: auto;
    display: block;
    margin-right: auto;
}

/* Don't display navigation aids when printing */
@media print {
  #page-header, #sidenav, #subnav, #page-footer, .banner, #toc {
    display:none !important;
  }
  #page-content {
    > article {
      width: auto;
      margin: 0;
    }
  }
}

/* Overwrite bootstrap */
pre code {
  white-space: pre;
}
