// Make all css changes here. These change will get added into the current SCSS structure where applicable.

/* Add space between definitions. */
dd {
	margin-bottom: 15px;
}

/* Make code font more noticeable (without being obnoxious). */
code {
	color: #008f83
}

/* Make code-font links look like links. Should also change the hover color. */
a code {
    color: $brand-primary
}


#page-header {
  background-color: $gray-base;
}

#mainnav {
  color: $white-base;
  ul {
    li {
      a {
        color: $white-base;
      }
    }
  }
  .brand {
    width: 180px;
    line-height: 40px;
  }
}
#sidenav {
  .brand {
    img {
      width: 180px;
    }
  }
}

body.homepage {
  p {
    font-weight: 300;
  }
  pre {
    &.prettyprint {
      height: auto;
    }
  }
  .btn {
    border: none;
    border-radius: 4px;
    margin: 20px 0;
    &.btn-primary:visited {
      color: white;
    }
  }

  .no-padding {
    .headline .content {
      padding-top: 0;
    }
  }

  .huge-number {
    text-align: center;
    margin-top: -20px;

    .huge-number__number {
      color: $brand-primary;
      font-size: 35px;
      letter-spacing: -3px;
      font-weight: 700;
    }
  }
}

/* Get started section in the bottom */
body.homepage .get-started-section {
  padding-top: 0;
  padding-bottom: 60px;
}