// Tweaks for subnav prev/next links when view is narrow and link text word wraps.
#subnav {
  ul {
    li {
      display: flex;
      display: -webkit-flex;
      white-space: nowrap;
      a {
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline;
      }
      &.previous {
        float: left;
      }
      &.previous:before {
        display: inline;
        color: $brand-primary;
        content: "\2329"; // &lang;
      }
      &.next {
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
      }
      &.next:after {
        display: inline;
        color: $brand-primary;
        content: "\232A"; // &rang;
      }
    }
  }
}
