/* -----------------------------------------
  Dart Lang
  ----------------------------------------- */

@import '_variables';
@import '_next-prev-subnav';

/* -----------------------------------------
  Angular
  ----------------------------------------- */

@import 'ng/ngio/_options';

@import 'ng/ngio/base/_colors';
@import 'ng/ngio/base/_mixins';
@import 'ng/ngio/base/_reset';

@import 'ng/ngio/layout/_layout';
@import 'ng/ngio/module/_alert';
@import 'ng/ngio/module/_api';
// @import 'ng/ngio/module/_banner';
@import 'ng/ngio/module/_buttons';
@import 'ng/_code';
@import 'ng/_code-box';
@import 'ng/ngio/module/_code-shell';
@import 'ng/ngio/module/_filetree';
@import 'ng/ngio/module/_form';
@import 'ng/ngio/module/_images';
@import 'ng/ngio/module/_symbol';
@import 'ng/ngio/module/_table';

// Give Angular pages a unique look-and-feel

.ng-page-title {
  $ng-logo-margin-right: $unit / 2;
  $ng-logo-width: $unit * 5;
  img {
    float: left;
    margin-right: $ng-logo-margin-right;
    width: $ng-logo-width;
  }
  h1 {
    padding-left: $ng-logo-width + $ng-logo-margin-right;
  }
  a { // Package version
    font-size: $font-size-base;
  }
}

// BOOTSTRAP OVERRIDES
blockquote {
  font-size: 1em;
}

.l-content-small {
  padding: 0;
}
