---
layout: homepage
title: AngularDart
description: AngularDart is a web app framework that focuses on productivity, performance, and stability.
---

<section class="slogan">
  {% if false -%}
  {% capture banner %}{% include banner-top.md %}{% endcapture -%}
  {{ banner | markdownify }}
  {% endif -%}
  <div class="container">
    <div class="content">
      <h2> A web app framework focused on<br>
      productivity, performance, and stability.</h2>
      <a href="/guide/setup" class="btn btn-default btn-lg">Get Started</a>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row headline">
      <div class="col-sm-5 col-lg-6">
        <div class="content">
          <h2>Used in production</h2>
        </div>
      </div>
      <div class="col-sm-7 col-lg-6">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 col-lg-4">
        <div class="content">
          <p>Hundreds of Google engineers use AngularDart to build the
          sophisticated, mission-critical apps that
          bring in much of Google’s revenue.
          <a href="https://news.dartlang.org/2016/03/the-new-adwords-ui-uses-dart-we-asked.html"  class="no-automatic-external">Learn more</a>
          about how Google AdWords was enabled by AngularDart.</p>

          <h2>Open source</h2>
          <p>AngularDart is an open source project built on the
          <a href="https://dart.dev/platforms">Dart Web platform.</a>
          For the latest AngularDart documentation, see the
          <a href="https://github.com/dart-lang/angular/tree/master/doc">doc
          directory</a>
          of the
          <a href="https://github.com/dart-lang/angular">dart-lang/angular project.</a>
          </p>
        </div>
      </div>
      <div class="col-sm-7 col-lg-8">
        <div class="content">
          <img src="{% asset adwords-screenshot.png @path %}" alt="" class="center-block">
        </div>
      </div>
    </div>
  </div>
</section>
